.catalogue{
  background-color: #ffffff;
  color: #000000;
  padding-top: 80px;
  h2{
    color: #000000;
    font-size: 40px;
    padding: 60px 0 70px  ;
    position: relative;
    &:after {
      position: absolute;
      content: url("../img/headline_pages_curve.png");
      bottom: 50px;
      left: -5px;
    }
  }

  .header{
    background: url("../img/bg.jpg") top center no-repeat;
    top: 0;
    width: 100%;
    .container.flex{
      padding: 15px 20px;
    }
  }
  > .container{
    > .flex{
      margin: 0 -25px;
    }
  }
  .col-2{
    margin: 0 25px;
    width: calc(20% - 50px);
    ul{
      li{
        + li{
          margin-top: 15px;
        }
        a{
          padding: 0 15px;
          color: #777777;
          font-size: 18px;
          line-height: 42px;
          font-weight: $extra-bold;
          border: 4px #777777 solid;
          width: 100%;
          &:hover{
            color: #b20027;
            border: 4px #b20027 solid;
          }
        }
      }
    }
  }
  .col-10{
    margin: 0 25px;
    width: calc(80% - 50px);
    .flex.row{
      justify-content: flex-start;
      margin: 0 -20px;
    }
    .col-3{
      margin: 25px 20px;
    }
    .catalogue-item{
      margin-bottom: 140px;
      .catalogue-item-title {
        width: 100%;
        position: relative;
        h3 {
          background: #fff;
          width: max-content;
          color: #202540;
          font-size: 30px;
          font-weight: $black;
          margin-left: 65px;
          padding: 0 20px;
          position: relative;
          z-index: 1;
        }
        span.line {
          position: absolute;
          content: '';
          left: 0;
          top: 50%;
          transform: translateY(-50%);
          width: 100%;
          height: 5px;
          background: #131626;
          z-index: 0;
        }
      }
    }
  }
  .item{
    //margin: 25px 0;
    width: calc(25% - 40px);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 30px 0 30px 40px;
    & + .item{
      border-left: 1px solid #e5e5e5;
    }
    &:nth-child(5){
      border-left: none;
    }
    img{
      width: 100%;
    }
    .descriptions{
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      .flex{
        justify-content: space-between;
      }
    }
    .fire{
      position: absolute;
      left: 50px;
      top: 15px;
      background-color: #ff2a00;
      border-radius: 4px;
      padding: 2px 8px;
      font-size: 14px;
      font-weight: $black;
    }
    h3{
      font-weight: $black;
      font-size: 14px;
      line-height: 150%;
      margin-top: 35px;
      color: #000000;
    }
    .stars{
      margin: 15px 0;
    }
    .flex{
      width: 100%;
      margin-top: auto;
      align-items: center;
    }
    .price{
      font-weight: $medium;
      font-size: 22px;
      color: #000;
    }

    .button{
      font-size: 17px;
    }
  }
}
@media (max-width: 1366px) {
  .catalogue {
    .col-10{
      .flex.row{
        margin: 0 -15px;
      }
      .col-3{
        margin: 25px 15px;
      }
    }
    .item {
      width: calc(25% - 30px);
      padding: 25px 0 25px 30px;
      .price {
        font-size: 20px;
      }
    }
  }
}
@media (max-width: 1280px) {
  .catalogue {
    .col-2{
      width: calc(25% - 50px);
    }
    .col-10{
      width: calc(75% - 50px);
    }
    .item {
      width: calc(33% - 30px);
      padding: 25px 0 25px 30px;
      &:nth-child(5){
        border-left: 1px solid #e5e5e5;
      }
      &:nth-child(4),
      &:nth-child(7){
        border-left: none;
      }
    }
  }
}
@media (max-width: 1024px) {
  .catalogue {
    .col-2{
      width: calc(33% - 50px);
    }
    .col-10{
      width: calc(67% - 50px);
    }
    .item {
      width: calc(50% - 30px);
      padding: 25px 0 25px 30px;
      &:nth-child(2n+1){
        border-left: none;
      }
      &:nth-child(2n){
        border-left: 1px solid #e5e5e5;
      }
    }
  }
}
@media (max-width: 769px) {

  .catalogue {
    > .container {
      > .flex {
        flex-wrap: wrap;
      }
    }
    .col-2{
      width: calc(100% - 50px);
    }
    .col-10{
      margin-top: 60px;
      width: calc(100% - 50px);
    }
    .header .container.flex {
      padding: 15px 10px;
    }
  }
}
@media (max-width: 580px) {
  .catalogue {
    .col-10 {
      .catalogue-item {
        .catalogue-item-title {
          h3{
            margin : 0 auto;
            text-align: center;
          }
        }
      }
    }
    .item{
      width: 100%;
      border-left: none!important;
    }
  }
}