.fixed-box {
  position: absolute;
  top: 0;
  width: 100%;
}
.fixed-header {
  background: rgba(51,51,51,.8);
  opacity: 0;
  visibility: hidden;
  .container{
    align-items: center;
    padding: 0 20px;
    &.flex{
      flex-wrap: inherit;

    }
  }
  a.logo{
    display: inherit;
    &:focus{
      margin-top: 5px;
    }
    img{
      width: 180px;
    }
  }
  ul.navbar{
    margin-left: auto;
    padding: 0;
    &>li{
      position: relative;
    }
    li{
      padding: 26px 0;
      &+li{
        margin-left: 30px;
      }
      display: inline-block;
      a{
        font-family: 'Montserrat', sans-serif;
        font-size: 16px;
        color: #ffffff;
        line-height: 26px;
        &:hover{
          color: #e10031;
        }
      }
      &.parent-submenu{
        &:after,
        &:before{
          position: absolute;
          content: '';
          width: 1px;
          height: 5px;
          top: 46%;

          background: #757577;
          transform: translateY(-50%);
        }
        &:before{
          right: -7px;
          transform:   rotate(-45deg);
        }
        &:after{
          right: -10px;
          transform:   rotate(45deg);
        }
      }
      ul.submenu {
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        visibility: hidden;
        width: 180px;
        opacity: 0;
        z-index: 5;
        transform: translateY(100%);
        -webkit-transition: .3s ease-in-out;
        -o-transition: .3s ease-in-out;
        transition: .3s ease-in-out;

        li{
          background: rgba(22,24,30,.8);
          padding: 0 15px;
          margin-left: -15px;
          display: block;
          &+li{
            margin:5px 0 0 -15px;
          }
          &:hover{
            background: rgba(22,24,30,1);
          }
          a{
            width: 100%;
            line-height: 45px;
          }
        }
      }
      &:hover{
        ul.submenu {
          visibility: visible;
          opacity: 1;

        }
      }
    }
  }
  div.language{
    padding: 27px 20px 27px 55px;
    position: relative;
    &:after,
    &:before{
      position: absolute;
      content: '';
      width: 1px;
      height: 5px;
      top: 42%;

      background: #757577;
      transform: translateY(-50%);
    }
    &:before{
      right: 3px;
      transform:   rotate(-45deg);
    }
    &:after{
      right: 0px;
      transform:   rotate(45deg);
    }
    &:hover{
      cursor: pointer;
      .language_drop-down{
        visibility: visible;
        opacity: 1;
        transition: all .5s ease;
      }
    }
    .language_drop-down{
      visibility: hidden;
      opacity: 0;
      position: absolute;
      height: auto;
      margin-left: -15px;
      top: auto;
      bottom: 0;
      transform: translateY(100%);
      a{
        background: rgba(22,24,30, .8);
        padding: 0 15px;
        display: block;
        &+a{
          margin-top: 3px;
        }
      }
    }
  }
}
.fixed {
  opacity: 1;
  transition: opacity .5s ease;
  visibility: visible;
  width: 100%;
  position: fixed;
  z-index: 99;
  top: 0;
}

@media (max-width: 1280px) {
  .fixed-header {
    a.logo img {
      width: 100px;
    }
    ul.navbar li a {
      font-size: 14px;
    }
  }

}
@media (max-width: 1024px) {
  .fixed-header a.logo img {
    width: 140px;
  }
}
@media (max-width: 767px) {
  .fixed-header .container{
    padding: 10px 10px;
  }
  .fixed-header div.language {
    padding: 7px 20px 7px 25px;
  }
  .fixed-header a.button {
    margin-left: 30px;
  }
}
@media (max-width: 380px) {
  .fixed-header a.logo img {
    width: 100px;
  }
}