.footer{
  padding-top: 75px;
  background: url("../img/sect3-bg.jpg") bottom center no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  .logo{
    position: relative;
    img{
      width: 100%;
    }
    &:after{
      position: absolute;
      content: '';
      width: 100%;
      height: 75px;
      background-image: url(../img/curve_footer.png);
      background-repeat: no-repeat;
      background-size: contain;
      left: 0;
      bottom: 0;
      -webkit-transform: translateY(100%);
      -ms-transform: translateY(100%);
      transform: translateY(100%);
    }
  }
  ul{
    li{
      a{
        font-size: 14px;
        font-weight: $regular;
        color: #ffffff;
        &:hover{
          color: #da002e;
        }
      }
    }
  }
  p.text{
    font-size: 14px;
    line-height: 20px;
    font-weight: $regular;
  }
  .form-footer{
    padding-top: 15px;
    width: 100% ;
    input{
      width: calc(100% - 60px);
      margin-right: 10px;
      border: none;
      border-bottom: 1px #cccccc solid;
      background: none;
      font-size: 14px ;
      color: #cccccc;
      font-weight: $light;
      &::placeholder{
        font-size: 14px ;
        color: #cccccc;
        font-weight: $light;
      }
    }
    button{
      cursor: pointer;
      width: 45px;
      height: 45px;
      background: url("../img/play.png") center no-repeat;
      background-size: contain;
      border: none;
      outline: none;
      i{
        font-size: 20px;
        color: #ffffff;
      }
    }
  }
  .social{
    padding-top: 30px;
    a{
      + a{
        margin-left: 30px;
      }
      &:hover{
        i{
          color: #da002e;
        }
      }
    }
    i{
      color: #ffffff;

    }
  }
  .copyright{
    margin-top: 80px;
    padding: 25px 0;
    position: relative;
    span{
      font-size: 12px;
      color: #aaaaaa;
    }
    img.icons{
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
@media (max-width: 1024px) {
  .footer{
    .flex{
      flex-wrap: wrap;

      .col-4{
        width: calc(40% - 30px);
        &:nth-child(1){
          width: calc(20% - 30px)
        }
      }
    }
  }
}
@media (max-width: 768px) {
  .footer{
    a.logo{
      &:after{
        display: none;
      }
    }
    .flex{
     .col-4{
       width: calc(100% - 30px);
       &:nth-child(1) {
         text-align: center;
         width: calc(40% - 30px);
       }
       + .col-4{
         margin-top: 30px;
       }
     }
    }
    .copyright span {
      padding-bottom: 60px;
      display: block;
      text-align: center;
    }
  }
}
@media (max-width: 480px) {
  .footer .copyright img.icons{
    width: 100%;
  }
}