
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}
textarea{
  overflow: hidden;
}
*{
  box-sizing: border-box;
  outline: none;

}
::-webkit-scrollbar-button {
  background-repeat: no-repeat;
  width: 5px;
  height: 0; }

::-webkit-scrollbar-track {
  background-color: #56565c }

::-webkit-scrollbar-thumb {
  border-radius: 0;
  background-color: rgba(0,0,0, .5) }

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255,255,255, .9) }

::-webkit-resizer {
  background-repeat: no-repeat;
  width: 4px;
  height: 0; }

::-webkit-scrollbar {
  width: 4px; }

::selection {background: #b20027}
::-moz-selection {background:#b20027;}
::-webkit-selection {background: #b20027 }

.back_to_top {
  position: fixed;
  bottom: 60px;
  right: 40px;
  z-index: 999;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  background: none;
  cursor: pointer;
  border-radius: 2px;
  display: none;
  @media (max-width: 480px) {
    right: 0;
    bottom: 15px;
  }
}
a.back_to_top{
  padding: 30px;
  &:hover{
    .arrow{
      span{
        opacity: 1!important;
        transition: opacity .5s ease;
      }
    }
  }
  .arrow{
    position: absolute;
    bottom: 0;
    right: 20px;
    transform: rotate(180deg);
    span{
      display: block;
      width: 20px;
      height: 20px;
      border-bottom: 6px solid #b20027;
      border-right: 6px solid #b20027;
      transform: rotate(45deg);
      margin: 0px;
      &:nth-child(1){
        opacity: .7;
      }
      &:nth-child(2){
        opacity: .3;
      }
    }
  }
}


.back_to_top-show {
  display: block; }

/* input */
input:-moz-placeholder{
  font-size: 14px;
  color: rgba(0, 0, 0, 0.268);
}
input::-webkit-input-placeholder {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.268);
}
.inputable[type=submit] {
  cursor: pointer;
  border: 0;
  text-align: center;
}
button{
  outline: none;
}
:hover{
  transition: all 0.5s ease;
}
body{
  font-family: $ff-body;
  font-weight: $fw-body;
  font-size: $fz-body;
  color: $color-body;
  line-height: 1;
  line-height: $lh-body;
  background-color: $bg-color-body;
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust:none;
  -moz-text-size-adjust:none;
  -text-size-adjust:none;
  -webkit-appearance: none;
}
a{
  font-family: $ff-links;
  font-weight: $fw-links;
  color: $color-links;
  font-size: $fz-links;
  line-height: $lh-links;
  display: inline-block;
  text-decoration: none;
  &:hover{
    color: $color-links-hover;
    text-decoration: none;
  }
}
.button {
  margin-left: -15px;
  position: relative;
  z-index: 1;
  color: #b20027;
  font-weight: 800;
  font-size: 20px;
  outline: none;
  line-height: 42px;
  padding:0 15px;
  &:hover{
    color: #ffffff;
  }
  &.black{
    &:hover{
      color: #000000;
      &:after {
        border-top-color: #000000; // Make borders visible
        border-left-color: #000000;
      }
      &:before {
        border-bottom: 4px solid #000000; // Make borders visible
        border-right-color: #000000;
      }
    }
    span.back{
      border-right: 4px solid #b20027;
      &:after {
        position: absolute;
        z-index: -1;
        top: 0;
        right: 0;
        content: '';
        width: 65%;
        height: 4px;
        background-color: #b20027;
      }
      &:before{
        position: absolute;
        z-index: -1;
        bottom: 0;
        right: 0;
        content: '';
        width: calc(100% - 15px);
        height: 4px;
        background-color: #b20027;
      }
    }
  }
  span.back{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-right: 4px solid #b20027;
    &:after {
      position: absolute;
      z-index: -1;
      top: 0;
      right: 0;
      content: '';
      width: 65%;
      height: 4px;
      background-color: #b20027;
    }
    &:before{
      position: absolute;
      z-index: -1;
      bottom: 0;
      right: 0;
      content: '';
      width: calc(100% - 15px);
      height: 4px;
      background-color: #b20027;
    }
  }
  &::before,
  &::after {
    //box-sizing: inherit;
    content: '';
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
  }
  &::before,
  &::after {
    // Set border to invisible, so we don't see a 4px border on a 0x0 element before the transition starts
    border: 4px solid transparent;
    width: 0;
    height: 0;
  }

  // This covers the top & right borders (expands right, then down)
  &::before {
    bottom: 0;
    left: 0;
  }

  // And this the bottom & left borders (expands left, then up)
  &::after {
    top: 0;
    right: 0;
  }

  // Hover styles
  &:hover::before,
  &:hover::after {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
  }

  &:hover::before {
    border-bottom: 4px solid #ffffff; // Make borders visible
    border-right-color: #ffffff;
    transition:
            width 0.25s ease-out, // Width expands first
            height 0.25s ease-out 0.25s; // And then height
  }

  &:hover::after {
    border-top-color: #ffffff; // Make borders visible
    border-left-color: #ffffff;
    transition:
            border-color 0s ease-out 0.5s, // Wait for ::before to finish before showing border
            width 0.25s ease-out 0.5s, // And then exanding width
            height 0.25s ease-out 0.75s; // And finally height
  }
  @media (max-width: 1280px) {
    font-size: 16px;
  }
  @media (max-width: 767px) {
    font-size: 16px;
  }
}
a.button.grey{
  color: #777777;
  &:hover{
    color: #000000;
  }
  span.back{
    border-right: 4px solid #777777;
    &:before{
      background-color:   #777777;
    }
    &:after{
      background-color:   #777777;
    }
  }
}
section{
  position: relative;
  padding: 75px 0 140px;
}
span.bold{
  font-weight: $semi-bold;
}

/** headlines **/
h1, h2, h3, h4, h5, h6 {
  font-family: $ff-headlines;
  color: $color-headlines;
}

h1{
  font-weight: 600;
  font-size: 60px;
  line-height: 70px;
  @media (max-width: 1280px) {
    font-size: 50px;
    line-height: 60px;
  }
}
h2{
  font-weight: $black;
  font-size: 30px;
  line-height: 40px;
  @media (max-width: 1280px) {
    font-size: 26px;
    line-height: 36px;
  }
  @media (max-width: 767px) {
    font-size: 22px;
    line-height: 30px;
    &:after{
      display: none;
    }
  }
  @media (max-width: 380px) {
    font-size: 18px;
    line-height: 26px;

  }
}
h3{
  font-weight: 400;
  font-size: 22px;
  line-height: 50px;
  @media (max-width: 1280px) {
    font-size: 18px;
    line-height: 28px;
  }
}
h4{
  font-weight: 300;
  font-size: 20px;
  line-height: 30px;
}

.wrapper{
  width:100%;
  margin:auto;
  position: relative;
}
.flex{
  display: flex;
  justify-content: space-between;
  &.row{
    margin: 0 -15px;
    flex-wrap: wrap;
  }
  &.column{
    flex-direction: column;
  }
}
.col-3,
.col-6,
.col-4,
.col-9,
.col-12{
  margin: 0 15px;
}
.col-3{
  width: calc( 25% - 30px);
}
.col-4{
  width: calc( 33% - 30px);
}
.col-6{
  width: calc( 50% - 30px);
}
.col-8{
  width: calc( 66% - 30px);
}
.col-9{
  width: calc( 75% - 30px);
}
.col-12{
  width: calc( 100% - 30px);
}
.display_none{
  display: none;
}
.text-center{
  text-align: center;
}

.container{
  width: 1450px;
  margin:auto;
  padding:0 20px;
  @media (max-width: 1600px){
    width: 1300px;
  }
  @media (max-width: 1366px){
    width: 1220px;
  }
  @media (max-width: 1280px){
    width: 960px;
  }
  @media(max-width: 1024px){
    width: 720px;
    box-sizing: border-box;
  }
  @media (max-width: 767px){
    width: 440px;
    padding: 0 10px;
  }
  @media (max-width: 479px){
    width: 380px;
  }
  @media (max-width: 380px){
    width: 300px;
  }
}