.md-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  visibility: hidden;
  top: 0;
  left: 0;
  z-index: 1000;
  opacity: 0;
  background: $bg-overlay;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.md-show ~ .md-overlay {
  opacity: 1;
  visibility: visible;
}

/* Effect 1: Fade in and scale up */
.md-effect-1 .md-content {
  -webkit-transform: scale(0.7);
  -moz-transform: scale(0.7);
  -ms-transform: scale(0.7);
  transform: scale(0.7);
  opacity: 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.md-show.md-effect-1 .md-content {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}

button.md-close {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  outline: none;
  background: none !important;
  width: 30px !important;
  border: none;
  height: 30px;
  margin-left: 90%;
  &:hover{
    i{
      color: #000000;
    }
  }
  i{
    color: #aaaaaa;
  }
}

.md-modal {
  position: fixed;
  top: 30%;
  left: 50%;
  width: 80%;
  max-width: 1200px;
  min-width: 310px;
  height: auto;
  z-index: 2000;
  visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  transform: translateX(-50%) translateY(-30%);
  .md-content {
    border-radius: 5px;
    padding: 80px 100px;
    background: url("../img/sect2-bg.jpg") top center no-repeat;
    background-size: cover;
    h2.modal-name{
      margin-top: 30px;
      font-size: 48px;
      line-height: 58px;
      color: #000000;
      font-weight: $black;
      position: relative;
      &:after{
        position: absolute;
        content: '';
        background: url("../img/headline_curve.png") top left no-repeat;
        background-size: contain;
        left: 0;
        bottom: 0;
        transform: translateY(120%);
        width: 100%;
        height: 70px;
      }
    }

    form{
      position: relative;
      input,
      select{
        background: none;
        outline: none;
        border: none;
        border-bottom: 1px #777777 solid;
        font-size: 14px;
        font-weight: $medium;
        color: #000000;
        line-height: 26px;
        padding: 0 20px;
        margin-bottom: 30px;
        &.error{
          border-bottom: 1px #ff0000 solid;

        }

      }
      select{
        color: #777777;
        option{
          color: #000000;
        }
      }
      textarea{
        color: #000000;
        line-height: 26px;
        background: none;
        outline: none;
        border: 1px #777777 solid;
        border-radius: 2px;
        padding: 10px 15px;
        box-sizing: border-box;
        margin-bottom: 30px;
      }
      input:-moz-placeholder{
        font-size: 14px;
        color: #777777;
        font-weight: $medium;

      }
      input::-webkit-input-placeholder {
        font-size: 14px;
        color: #777777;
        font-weight: $medium;
      }
      textarea:-moz-placeholder{
        font-size: 14px;
        color: #777777;
        font-weight: $medium;

      }
      textarea::-webkit-input-placeholder {
        font-size: 14px;
        color: #777777;
        font-weight: $medium;
      }
      label.error{
        display: none!important;
      }
      div.error{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 60px;
        span{
          font-size: 12px;
          font-weight: $medium;
          color: #ff0000;
        }
      }
      .button {
        background: none;
        margin: 20px auto 0;
        outline: none;
        border: none;
        cursor: pointer;
      }
    }
    p.title-red{
      font-weight: $black;
      font-size: 30px;
      line-height: 40px;
      color: #b20027;
      text-align: center;
      padding: 20px 0;
    }
    p.text{
      font-size: 16px;
      line-height: 20px;
      color: #000000;
      text-align: center;
      font-weight: $light;
      margin-bottom: 50px;
      a{
        font-weight: $semi-bold;
        color: #b20027;
        &:hover{
          color: #000000;
        }
      }
    }
    .buy-button{
      padding: 25px 0;
      color: #b20027;
      background: #fff;
      border-radius: 6px;
      display: flex;
      flex-direction: column;
      position: relative;
      align-items: center;
      box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.15);
      &:after {
        position: absolute;
        top: 0;
        right: 0;
        content: '';
        border-radius: 6px;
        width: 100%;
        height: 100%;
        box-shadow: inset 0px 3px 10px 0px rgba(0, 0, 0, 0.15);
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
      }
      &:hover{
        box-shadow: none;
        &:after {
          opacity: 1;
        }
      }
      span{
        font-weight: $extra-bold;
        font-size: 24px;
        color: #b20027;
        display: inline-block;
        margin-bottom: 20px;
      }
      img{
        width: 65%;
      }
    }
  }
}
.md-show {
  visibility: visible;
}

/* Content styles */
#modal-register{

}
#modal-where-to-buy{
  .md-content p.text{
  font-size: 24px;
  line-height: 34px;
  }
}
/* Individual modal styles with animations/transitions */

@media (max-width: 1280px) {
  .md-modal{
    .md-content{
      padding: 40px 60px;
    }
  }
}
@media (max-width: 1024px) {
  .md-modal{
    width: 100%;
    .md-content{
      padding: 60px 40px;

      > .flex.row{
        flex-wrap: wrap;
        .col-4,
        .col-8{
          width: 100% ;
        }
      }
      h2.modal-name{
        margin: 0 auto 120px;
        font-size: 36px;
        width: max-content;
        &:after{
          transform: translateY(100%);
        }
      }
      p.text {
        font-size: 14px;
        line-height: 18px;
        margin-bottom: 25px;
      }
    }
  }
  #modal-where-to-buy{
    .md-content h2.modal-name{
      margin: 0 auto 120px;
    }
  }
}
@media (max-width: 769px) {
  .md-modal{
    height: 90%;
    max-height: 100vh;
    overflow-y: auto;
    .md-content{
      height: 100%;
      overflow-y: auto;
      h2.modal-name{
        font-size: 32px;
        line-height: 42px;
        &:after{
          display: block;
        }
      }
      form{
        .col-6{
          width: 100%;
        }
      }
    }
  }
  #modal-where-to-buy{
    height: auto;
    .flex.row{
      justify-content: center;
    }
    .col-6 {
      width: 80%;
      + .col-6{
        margin-top: 30px;
      }
    }
    .md-content p.text {
      font-size: 18px;
      line-height: 26px;
    }
  }
  #modal-coupon{
    height: auto;
  }
  .md-modal .md-content h2.modal-name {
    margin: 0 auto 100px;
  }
}