button.menu-btn {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  span {
    width: 30px;
    height: 3px;
    border-radius: 3px;
    background: #ffffff;
    margin-left: 30px;
    display: block;
    &+ span {
      margin-top: 5px;
    }
  }
}

.pushy a.close{
  position: absolute;
  top: 25px;
  right: 25px;
  opacity: 1;
  text-align: right;
  padding: 15px 0;
  span {
    width: 30px;
    height: 1px;
    background-color: #b3b3b3;
    display: block;
    &:first-child{
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }
    &:last-child{
      -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      transform: rotate(-45deg);
      margin-top: -1px;
    }
  }
}

/* pushy style */
.pushy {
  position: fixed;
  width: $pushy-width;
  height: 100%;
  top: 0;
  z-index: 9999;
  background: $pushy-bg;
  overflow: auto;
}
.pushy .pushy-content{
  flex-direction: column;
  justify-content: start;
  height: 100%;
  min-height: $pushy-min-height;
  align-items: start;
}
.pushy-open-left .site-overlay, .pushy-open-right .site-overlay {
  z-index: 101;
  background-color: rgba(0,0,0,.5);
  animation: a .5s;
}
.pushy-left{
  transform: translate3d(-$pushy-width,0,0);
}
.pushy-open-left #container,
.pushy-open-left .push {
  transform: translate3d($pushy-width, 0, 0);
}
.pushy{
  padding-top: 100px;
  .navbar{
    display: block;
  }
  li{
    display: block;
    position: relative;
    &.parent-submenu{
      &:after,
      &:before{
        position: absolute;
        content: '';
        width: 1px;
        height: 5px;
        top: 27px;

        background: #757577;
        transform: translateY(-50%);
      }
      &:before{
        right: -7px;
        transform:   rotate(-45deg);
      }
      &:after{
        right: -10px;
        transform:   rotate(45deg);
      }
    }
    ul.submenu{
      margin-left: 30px;
      display: none;
      &.visible{
        display: block;
      }
    }
  }
  div.language{
    padding: 7px 20px 7px 55px;
    position: relative;
    &:after,
    &:before{
      position: absolute;
      content: '';
      width: 1px;
      height: 5px;
      top: 42%;

      background: #757577;
      transform: translateY(-50%);
    }
    &:before{
      right: 3px;
      transform:   rotate(-45deg);
    }
    &:after{
      right: 0px;
      transform:   rotate(45deg);
    }
    &:hover{
      cursor: pointer;
      .language_drop-down{
        visibility: visible;
        opacity: 1;
        transition: all .5s ease;
      }
    }
    .language_drop-down{
      visibility: hidden;
      opacity: 0;
      position: absolute;
      margin-left: -15px;
      top: 35px;
      a{
        background: rgba(22,24,30, .8);
        padding: 0 15px;
        display: block;
        &+a{
          margin-top: 3px;
        }
      }
    }
  }
}
a:not([href]):not([tabindex]), a:not([href]):not([tabindex]):focus, a:not([href]):not([tabindex]):hover{
  color: #b3b3b1;
}
/* pushy style : END ================================= */