.sect3{
  background: url("../img/sect3-bg.jpg") top center no-repeat;
  background-size: cover;
  padding-bottom: 125px;
  h2{
    margin-bottom: 50px;
  }
  .flex{

    .item{
      display: flex;
      flex-direction: column;
      align-items: start;
      padding: 30px;
      margin: 15px;
      position: relative;
      min-height: 300px;
      &:hover {
        cursor: pointer;
        &:before {
          min-height: 100%;
          transition: all .5s ease;
          background-color: rgba(0,0,0,.2);
        }
        h3{
          margin:auto 0 145px 0;
          transition: all .5s ease;
        }
        img{
          bottom: 40px;
          transition: all .5s ease;
        }
        a.button2 {
          opacity: 1;
          visibility: visible;
          transition: all .5s ease;

        }
      }
      &:before{
        position: absolute;
        bottom: 0;
        left: 0;
        content: '';
        background-color: rgba(0,0,0,.15);
        width: 100%;
        min-height: 160px;
      }
      h3{
        margin: auto 0 120px 40px;
        font-weight: $black;
        font-size: 24px;
        line-height: 34px;
        position: relative;
        &:before{
          position: absolute;
          content: '';
          width: 60px;
          height: 4px;
          background-color: #b20027;
          bottom: -10px;
          left: 0;
        }
      }
      img{
        position: absolute;
        bottom: 0;
        right: 0;
      }
      a.button2{
        opacity: 0;
        visibility: hidden;
        &:hover{
          color: #ffffff;
          border-right: 4px solid #ffffff;
          border-bottom: 4px solid #ffffff;
          &:after {
            background-color: #ffffff; }
        }
      }
    }
  }
  img.bayleaf{
    position: absolute;
    left: 0;
    bottom: 0;
  }
  img.bazil{
    position: absolute;
    right: 0;
    top: 0;
  }
}