.sect8 {
  background: url("../img/sect2-bg.jpg") top center no-repeat;
  .flex {
    padding-bottom: 75px;
  }

  .col-3 {
    display: flex;
    justify-content: flex-end;

    a.button {
      color: #777777;

      &:hover {
        color: #000;
      }

      &.black {
        span.back {
          border-right: 4px solid #777777;

          &:before {
            background-color: #777777;
          }

          &:after {
            background-color: #777777;
          }
        }
      }
    }
  }

  h2 {
    color: #000000;
    display: inline-block;
    position: relative;

    &:after {
      content: url("../img/reviews_curve.png");
      position: absolute;
      bottom: -17px;
      right: -5px;
    }
  }

  .bottom-text{
    padding-top: 120px;
    p {
      position: relative;
      font-size: 12px;
      line-height: 18px;
      font-weight: $regular;
      height: 55px;
      overflow: hidden;
      color: transparent;
      -webkit-background-clip: text;
      background-clip: text;
      background-image: linear-gradient(to bottom, #000, #000, rgba(0, 0, 0, 0));

      &.visible{
        height: auto;
        color: #000;
        background-clip: inherit;
        background-image: none;
      }
    }
    a.show{
      cursor: pointer;
      display: block;
      width: max-content;
      margin: 0 auto;
      color: #b20027;
      font-size: 12px;
      font-weight: $black;
      &:hover{
        color: #000;
      }
    }
  }

}
.sect8-slick{
  margin: 0 -15px;
  padding: 0 40px;
  .slick-list{
    padding: 25px 0;
  }
  .slide{
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.15);
    margin: 30px 15px;
    position: relative;
    background-color: #000000;
    cursor: auto;
    //min-height: 300px;
    &:hover{
      margin: 0 15px;
      padding: 30px 0 30px;
      box-shadow: 0px 8px 15px 0px rgba(0, 0, 0, 0.5);
      border-radius: 4px;
      .img-block{
        opacity: .3;
      }
      .slide-title{
        background: none;
      }
      h3{
        color: #ffffff;
      }
      span.time,
      .button{
        cursor: pointer;
        opacity: 1;
        visibility: visible;
        transition: opacity .5s ease;
      }
    }
    span.time {
      color: #ffffff;
      opacity: 0;
      visibility: hidden;
      font-size: 14px;
      font-weight: $semi-bold;
      z-index: 1;
      position: absolute;
      left: 30px;
      top: 30px;
      padding-left: 24px;
      &:after{
        content: url("../img/clock.png");
        position: absolute;
        left: 0;
        top: 3px;
      }
    }
    .slide-title{
      margin-top: 325px;
      background-color: #fff;
      position: relative;
      padding: 20px 25px 0 25px;
      span{
        font-size: 12px;
        line-height: 20px;
        color: #E10031;
        font-weight: 500;
        + span{
          margin-left: 20px;
        }
        .value{
          font-weight: 600;
        }
      }
    }
    h3{
      padding-top: 10px;
      height: 85px;
      color: #000000;
      font-size: 18px;
      line-height: 22px;
      font-weight: $black;
    }
    .img-block{
      background-repeat: no-repeat;
      background-position: top center;
      -webkit-background-size: cover;
      background-size: cover;
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
    }
    .button{
      opacity: 0;
      visibility: hidden;
      width: max-content;
    }
  }
}
@media (max-width: 1280px) {
  .sect8{
    padding: 70px 0;
    .flex {
      padding-bottom: 45px;
    }
    .bottom-text {
      padding-top: 70px;
    }
  }
}
@media (max-width: 1024px){
  .sect8 {
    .bottom-text {
      padding-top: 40px;
    }
  }
  .sect8-slick{
    padding: 0;
  }
}

@media (max-width: 767px){
  .sect8 {
    .flex{
      padding-bottom: 30px;
      align-items: center;
    }
    .col-9{
      width: calc(60% - 30px);
    }
    .col-3{
      width: calc(40% - 30px);
      justify-content: flex-start;
    }
  }
}
@media (max-width: 480px) {
  .sect8{
    button.my-slick-prev {
      left: 0;
    }
    button.my-slick-next {
      right: 0;
    }
  }
}

@media (max-width: 380px) {
  .sect8 {
    padding: 40px 0;
  }
  .sect8 .col-9{
    width: calc(50% - 30px);
  }
  .sect8 .col-3{
    width: calc(50% - 30px);
  }
}