.sect7{
  background: url("../img/coupon_bg.jpg") bottom center no-repeat;
  background-size: cover;
  padding: 75px 0 110px;
  p{
    font-weight: $black;
    &.title {
      color: #e10031;
      font-size: 48px;
      line-height: 80px;
    }
    &.text{
      font-size: 30px;
      line-height: 40px;
      color: #fffefe;
    }
  }
  a.button{
    margin-top: 60px;
    color: #e10031;
    &:hover{
      color: #ffffff;
    }
    span.back{
      border-right: 4px solid #e10031;
      &:before{
        background-color:   #e10031;
      }
      &:after{
        background-color:   #e10031;
      }
    }
  }
}
@media (max-width: 1280px) {
  .sect7{
    padding: 70px 0;
    p.title {
      font-size: 38px;
      line-height: 70px;
    }
    p.text {
      font-size: 26px;
      line-height: 36px;
    }
    a.button{
      margin-top: 40px;
    }
  }
}
@media (max-width: 1024px) {
  .sect7{
    p.title {
      font-size: 32px;
      line-height: 60px;
    }
    p.text {
      font-size: 22px;
      line-height: 30px;
    }
  }

}
@media (max-width: 767px) {
  .sect7 {
    p.title {
      font-size: 32px;
      line-height: 42px;
      padding-bottom: 25px;
    }
    p.text {
      font-size: 22px;
      line-height: 30px;
    }
    a.button {
      margin-top: 30px;
    }
  }
}
@media (max-width: 380px) {
  .sect7 p.title {
    font-size: 24px;
    line-height: 34px;
    padding-bottom: 25px;
  }
  .sect7 p.text {
    font-size: 18px;
    line-height: 26px;
  }
}