.sect5{
  background: url("../img/sect5-bg.jpg") bottom center no-repeat;
  background-size: cover;
  padding: 65px 0 140px;
  .col-6{
    position: relative;
    padding-bottom: 245px;
    &:after{
      position: absolute;
      width: 740px;
      height: 200px;
      content: '';
      background: url(../img/logo.png);
      background-size: contain;
      background-repeat: no-repeat;
      opacity: .03;
      right: 0;
      bottom: -65px;
    }
    &:before{
      position: absolute;
      content: url("../img/sect5-enjoy.png");
      right: 0;
      bottom: 115px;
    }
  }
  h2{
    padding-bottom: 70px;
    position: relative;
    &:after{
      position: absolute;
      content: url("../img/about_curve.png");
      left: 0;
      bottom: 5px;
    }
  }
  p{
    font-size: 16px;
    line-height: 20px;
  }
}
@media (max-width: 1280px) {
  .sect5{
    padding: 70px 0;
    background-position: 0 0 ;
    .col-6{
      width: 66%;
      &:after{
        width: 450px;
      }
    }
  }
}