.sect4{
  background-color: #ffffff;
  background-image: url("../img/sect4-bg.png");
  background-repeat: no-repeat;
  background-position: 80% 50%;
  padding: 85px 0 150px;
  h2{
    color: #000000;
    padding-bottom: 45px;
    position: relative;
    &:after{
      position: absolute;
      content: url("../img/deal_curve2.png");
      left: 100px;
      bottom: 15px;
    }
  }
  p{
    color: #000000;
    font-size: 14px;
    line-height: 20px;
  }
  .button-block{
    display: flex;
    justify-content: flex-end;
    align-items: start;
    a.button{
      color: #777777;
      margin-top: 15px;
      &:hover {
        color: #000000;
      }

      span.back {
        border-right: 4px solid #777777;
        &:before {
          background-color: #777777;
        }
        &:after {
          background-color: #777777;
          width: 65%;
        }
      }
    }
  }
  .back{
  }
}
.sect4-slick{
  margin-top: 55px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  .slider{
    display: flex;
    min-height: 450px;
    padding: 3px 30px;
  }
  .slider-item{
    margin: 0 10px;
    position: relative;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 1);
    border-radius: 4px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    &:hover{
      &:before{
        background: rgba(255,255,255,.2);
      }
    }
    &:before{
      border-radius: 4px;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      content: '';
    }
    i{
      position: absolute;
      top: 10px;
      right: 10px;
      color: #ffffff;
    }
  }
  .watch{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    img{
      width: 100%;
    }
    &:after{
      position: absolute;
      content:'' ;
      top: 50%;
      left: 50%;
      transform: translate(-20%, -50%);
      border: 25px solid transparent;
      border-left: 30px solid #ffffff;
    }
  }
  p.title{
    position: absolute;
    color: #ffffff;
    font-size: 22px;
    font-weight: $medium;
  }
  p.text{

  }
  .slider-row{
    width: 70%;
    p.title{
      bottom: 30px;
      left: 30px;
      right: 30px;
    }
  }
  .slider-column{
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: -10px 0;
    .slider-item{
      margin: 10px;
    }
    .watch{
      width: 90px;
      height: 90px;
      img{
        width: 100%;
      }
      &:after{
        position: absolute;
        content:'' ;
        top: 50%;
        left: 50%;
        transform: translate(-20%, -50%);
        border: 15px solid transparent;
        border-left: 20px solid #ffffff;
      }
    }
    p.title{
      bottom: 10px;
      left: 20px;
      right: 20px;
    }
  }
  .slider-column-top,
  .slider-column-bottom{
    height: 50%;
    p.title{
      font-size: 18px;
      line-height: 28px;
      span.text{
        font-size: 12px;
        font-weight: $regular;
        line-height: 18px;
        display: inline-block;
      }
    }
  }
  .slider-column-top{
    background: url("../img/sect4-slider-col1.png.jpg") center center no-repeat;
    background-size: cover;
  }
  .slider-column-bottom{
    background: url("../img/sect4-slider-col2.png.jpg") center center no-repeat;
    background-size: cover;
  }
}
.sect4-slick-mobile {
  margin: 55px -15px 0;
  .slider {
    margin: 0 15px;
     a {
      position: relative;
      min-height: 220px;
      width: 100%;
      box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 1);
      border-radius: 4px;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover  ;
      &:hover{
        &:before{
          background: rgba(255,255,255,.2);
        }
      }
      &:before{
        border-radius: 4px;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        content: '';
      }
      i{
        position: absolute;
        top: 10px;
        right: 10px;
        color: #ffffff;
      }
    }
  }
  .watch{
    position: absolute;
    width: 90px;
    height: 90px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    img{
      width: 100%;
    }
    &:after{
      position: absolute;
      content:'' ;
      top: 50%;
      left: 50%;
      transform: translate(-20%, -50%);
      border: 15px solid transparent;
      border-left: 20px solid #ffffff;
    }
  }
  p.title{
    position: absolute;
    left: 20px;
    right: 20px;
    bottom: 15px;
    color: #ffffff;
    font-size: 16px;
    font-weight: $medium;
  }
  span.text{
    display: block;
    font-size: 12px;
    font-weight: $regular;
    line-height: 20px;
  }
}
button.slick-arrow{
  background: none;
  border: none;
  outline: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 1;
  &:hover{
    i{
      transition: all .5s ease;

      color: #b20027;
    }
  }
  i{
    font-size: 28px;
    color: #999999;
  }
}
button.my-slick-prev{
  left: -25px;
}
button.my-slick-next{
  right: -25px;
}
@media (max-width: 1366px) {
  .sect4-slick{
    .watch{
      width: 140px;

    }
    .slider-column {
      .watch{
        width: 65px;
        height: 65px;
        &:after{
          border: 10px solid transparent;
          border-left: 15px solid #ffffff;
        }
      }
    }
  }
}
@media (max-width: 1280px) {
  .sect4{
    padding: 70px 0;
    h2:after {
      position: absolute;
      content: url(../img/deal_curve2.png);
      left: 40px;
      bottom: 15px}
  }
  .sect4-slick{
    display: none;
  }
  .sect4-slick-mobile{
    display: block;
  }
  .slider{
    display: block;
  }
}
@media (max-width: 767px) {
  .sect4 {
    .container{
      position: relative;
    }
    h2 {
      padding-bottom: 30px;
    }
    .col-9{
      width: calc(100% - 30px);
      h2{
        width: 70%;
      }
    }
    .col-3{
      a.button{
        margin-top: 5px;
        position: absolute;
        top: 0;
        right: 0;
      }
    }
  }
}

@media (max-width: 480px) {
  .sect4{
    .col-3{
      width: 100%;
    }
  }
}
@media (max-width: 380px) {
  .sect4 {
    padding: 40px 0;
    p {
      font-size: 12px;
      line-height: 18px;
    }
  }
  .sect4-slick .slider-row p.title {
    bottom: 20px;
    left: 20px;
    right: 20px;
    font-size: 16px;
  }
  .sect4-slick .slider-column-top p.title,
  .sect4-slick .slider-column-bottom p.title {
    font-size: 16px;
    line-height: 20px;
  }
}

/*
.sect4-slick{
  .slider{
    flex-wrap: wrap;
    a{
      height: 250px;
    }
    .slider-row{
      width: 100%;
    }
    .slider-column{
      margin-top: 15px;
      width: 100%;
    }
  }
  .watch {
    width: 65px;
    height: 65px;
    &:after{
      border: 10px solid transparent;
      border-left: 15px solid #ffffff;
    }
  }
}*/
.sect4-slick-mobile{

}