.sect1{
  padding: 0;
}
.header-top{
  position: absolute;
  z-index: 1;
  background: rgba(66,73,89,.5);
  width: 100%;
  text-align: center;
  .container{
    position: relative;
  }
  p{
    font-size: 16px;
    line-height: 40px;
    font-weight: 400;
    text-transform: uppercase;
  }
  a.close{
    position: absolute;
    top: 18px;
    right: 16px;
    opacity: 1;
    text-align: right;
    span {
      width: 12px;
      height: 3px;
      background-color: #b3b3b3;
      display: block;
      &:first-child{
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
      }
      &:last-child{
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
        margin-top: -3px;
      }
    }
  }
}
.header{
  position: absolute;
  z-index: 1;
  top: 68px;
  left: 50%;
  transform: translateX(-50%);
  .container{
    align-items: center;
  }
  a.logo{
    display: inherit;
    &:focus{
      margin-top: 5px;
    }
    img{
      width: 180px;
    }
  }
  ul.navbar{
    margin-left: auto;
    padding: 0;
    &>li{
      position: relative;
    }
    li{
      padding: 10px 0;
      &+li{
        margin-left: 30px;
      }
      display: inline-block;
      a{
        font-family: 'Montserrat', sans-serif;
        font-size: 16px;
        color: #ffffff;
        line-height: 26px;
        &:hover{
          color: #e10031;
        }
      }
      &.parent-submenu{
        &:after,
        &:before{
          position: absolute;
          content: '';
          width: 1px;
          height: 5px;
          top: 46%;

          background: #757577;
          transform: translateY(-50%);
        }
        &:before{
          right: -7px;
          transform:   rotate(-45deg);
        }
        &:after{
          right: -10px;
          transform:   rotate(45deg);
        }
      }
      ul.submenu {
        display: block;
        position: absolute;
        top: 35px;
        left: 0;
        visibility: hidden;
        width: 180px;
        opacity: 0;
        z-index: 5;
        -webkit-transform: translateY(10px);
        -ms-transform: translateY(10px);
        transform: translateY(10px);
        -webkit-transition: .3s ease-in-out;
        -o-transition: .3s ease-in-out;
        transition: .3s ease-in-out;

        li{
          background: rgba(22,24,30,.8);
          padding: 0 15px;
          margin-left: -15px;
          display: block;
          &+li{
            margin:5px 0 0 -15px;
          }
          &:hover{
            background: rgba(22,24,30,1);
          }
          a{
            width: 100%;
            line-height: 45px;
          }
        }
      }
      &:hover{
        ul.submenu {
          visibility: visible;
          opacity: 1;

        }
      }
    }
  }
  a.button{
    margin-left: 50px;
  }
  div.language{
    padding: 7px 20px 7px 55px;
    position: relative;
    &:after,
    &:before{
      position: absolute;
      content: '';
      width: 1px;
      height: 5px;
      top: 42%;

      background: #757577;
      transform: translateY(-50%);
    }
    &:before{
      right: 3px;
      transform:   rotate(-45deg);
    }
    &:after{
      right: 0px;
      transform:   rotate(45deg);
    }
    &:hover{
      cursor: pointer;
      .language_drop-down{
        visibility: visible;
        opacity: 1;
        transition: all .5s ease;
      }
    }
    .language_drop-down{
      visibility: hidden;
      opacity: 0;
      position: absolute;
      margin-left: -15px;
      top: 35px;
      a{
        background: rgba(22,24,30, .8);
        padding: 0 15px;
        display: block;
        &+a{
          margin-top: 3px;
        }
      }
    }
  }
}
.coupon{
  color: #ffffff;
  z-index: 999;
  position: fixed;
  top: 50%;
  right: -79px;
  transform: translateY(-50%) rotate(-90deg);
  background: rgba(178,0,39,.5);
  span{
    font-weight: 700;
    font-size: 18px;
    line-height: 40px;
    text-transform: uppercase;
    padding: 0 28px;
  }
  &:hover{
    right: -74px;
    padding-bottom: 10px;
    background: rgba(178,0,39,1);
    span{
      color: #ffffff;
    }
  }
  @media (max-width: 380px) {
    right: -72px;
  }
}
.container-arrow{
  position: absolute;
  bottom: 80px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  .arrow{
    position: absolute;
    bottom: 50px;
    span{
      display: block;
      width: 20px;
      height: 20px;
      border-bottom: 6px solid #cccccc;
      border-right: 6px solid #cccccc;
      transform: rotate(45deg);
      margin: -10px;
      animation: animate-bottom-arrow 2s infinite;
      &:nth-child(2){
        animation-delay: -0.3s;
      }
    }
    @keyframes animate-bottom-arrow {
      0%{
        opacity: 0;
        transform: rotate(45deg) translate(-20px,-20px);
      }
      50%{
        opacity: 1;
      }
      100%{
        opacity: 0;
        transform: rotate(45deg) translate(20px,20px);
      }
    }
  }

}
a.back_to_top{
  padding: 30px;
  .arrow{
    position: absolute;
    bottom: 0;
    right: 20px;
    transform: rotate(180deg);
    span{
      display: block;
      width: 20px;
      height: 20px;
      border-bottom: 6px solid #cccccc;
      border-right: 6px solid #cccccc;
      transform: rotate(45deg);
      margin: -10px;
      animation: animate-bottom-arrow 2s infinite;
      &:nth-child(2){
        animation-delay: -0.3s;
      }
    }
    @keyframes animate-bottom-arrow {
      0%{
        opacity: 0;
        transform: rotate(45deg) translate(-20px,-20px);
      }
      50%{
        opacity: 1;
      }
      100%{
        opacity: 0;
        transform: rotate(45deg) translate(20px,20px);
      }
    }
  }
}
.sect1-slick{
  padding: 0;
  .slider1 {
    outline: none;
    display: flex !important;
    align-items: center;
    //padding-top: 40px;
    background: url("../img/bg.jpg") top center no-repeat;
    background-size: cover;
    height: 100vh;
    h1{
      text-transform: none;
      font-size: 60px;
      line-height: 70px;
      font-weight: 900;
    }
    h2{
      text-transform: none;
      padding: 15px 0 55px;
      font-weight: 300;
      font-size: 34px;
      line-height: 44px;
    }
    &.slick-active{
      .slider-lines{
        .front{
          animation: categoryProgress 4500ms infinite linear both;
        }
      }
    }
    .container-bottom{
      position: absolute;
      bottom: 96px;
      left: 50%;
      transform: translateX(-50%);
    }
    .slider-lines{
      position: absolute;
      bottom: 0;
      right: 140px;
      width: 200px;
      .front{
        opacity: .15;
        position: absolute;
        content: '';
        height: 4px;
        background-color: #fff;
        width: 0;
      }
      .back{
        opacity: .08;
        position: absolute;
        content: '';
        width: inherit;
        height: 4px;
        background-color: #fff;
      }
    }
  }
  @keyframes categoryProgress {
    from { width: 0; }
    to { width: 100%;}
  }
  .my-dots{
    position: absolute;
    bottom: 80px;
    width: 1450px;
    text-align: right;
    left: 50%;
    transform: translateX(-50%);
    padding: 0 20px;
    @media (max-width: 1600px){
      width: 1300px;
    }
    @media (max-width: 1366px){
      width: 1220px;
    }
    @media (max-width: 1280px){
      width: 960px;
    }
    @media(max-width: 1024px){
      width: 720px;
      box-sizing: border-box;
    }
    li{
      display: inline-block;
      &+li{
        margin-left: 20px;
      }
      &.slick-active{
        a{
          color: #999999;
        }
      }

    }
    a.custom-dots{
      font-weight: 900;
      font-size: 16px;
      color: #444444;

      &:hover{
        color: #ffffff;
        cursor: pointer;
      }
    }
  }
}
.slick-dotted.slick-slider{
  margin-bottom: 0;
}
@media (max-width: 1366px) {
  .header a.logo {
    img{
      width: 100px;
    }
  }
  .sect1-slick {
    .slider1 {
      h1 {
        font-size: 50px;
        line-height: 60px;
      }
      h2 {
        font-size: 30px;
        line-height: 40px;
      }
    }
  }
}
@media (max-width: 1280px) {
  .header ul.navbar li a {
    font-size: 14px;
  }
}
@media (max-width: 1024px) {
  .header ul.navbar {
    display: none;
  }
  .header{
    .menu-btn.display_none{
      display: block;
    }
  }
  .header a.button {
    margin-left: auto;
  }
  .sect1-slick .slider1 h1 {
    font-size: 40px;
    line-height: 50px;
  }
  .sect1-slick .slider1 h2 {
    padding: 15px 0 35px;
  }
  .sect1-slick .slider1 h2 {
    text-transform: none;
    font-weight: 300;
    font-size: 24px;
    line-height: 34px;
  }
}
@media (min-width: 481px) and (max-width: 1024px){

  .sect1-slick {
    .slider1{
      background: url("../img/bg-mob.jpg") bottom center no-repeat;
      background-size: cover;
      .container{
        margin: auto auto;
        text-align: center;
      }
      h1 {
        font-size: 36px;
        line-height: 46px;
      }
      h2 {
        text-transform: none;
        font-weight: 300;
        font-size: 22px;
        line-height: 32px;
      }
    }
    .my-dots{
      bottom: 40px;
    }
  }
  .container-arrow{
    bottom: 40px;
  }
  .sect1-slick .my-dots {
    display: none!important;
  }
  .sect1-slick .slider1 {
    .container-bottom{
      bottom: 0;
      width: 100%;
    }
    .slider-lines{
      width: 100%;
      bottom: 4px;
      right: 0;
    }
  }
}
@media (max-width: 480px){
  .header .language {
    display: none;
  }
  .header a.button {
    font-size: 16px;
    line-height: 26px;
  }
  .header a.logo img {
    width: 110px;
  }
  .header-top p {
    font-size: 14px;
  }
  .sect1-slick .my-dots {
    display: none!important;
  }
  .sect1-slick {
    .slider1{
      background: url("../img/bg-mob.jpg") bottom center no-repeat;
      background-size: cover;
      .container{
        margin: 150px auto auto;
        text-align: center;
      }
      h1 {
        font-size: 32px;
        line-height: 42px;
      }
      h2 {
        padding: 10px 0 35px;
        font-size: 18px;
        line-height: 28px;
      }
    }
  }
  .sect1-slick .slider1 {
    .container-bottom{
      bottom: 0;
      width: 100%;
    }
    .slider-lines{
      width: 100%;
      bottom: 4px;
      right: 0;
    }
  }
}
@media (max-width: 380px){
  .header-top p {
    font-size: 10px;
  }
  .header a.logo img {
    width: 90px;
  }
  .header a.button {
    font-size: 14px;
    line-height: 26px;
  }
  button.menu-btn span{
    margin-left: 10px;
  }
  .sect1-slick .slider1 h1 {
    font-size: 26px;
    line-height: 36px;
  }
  .sect1-slick .slider1 h2 {
    font-size: 15px;
    line-height: 24px;
  }
  a.button {
    font-size: 18px;
    line-height: 30px;
  }
  .coupon {
    right: -73px;
  }
  .coupon span {
    font-size: 16px;
    line-height: 36px;
  }
}