.sect2{
  background: url("../img/sect2-bg.jpg") bottom center no-repeat;
  background-size: cover;
  padding-bottom: 110px;
  h2{
    color: #000000;
    padding-bottom: 60px;
  }
  .img-block{
    background: url("../img/sect2-items-bg.png") bottom center no-repeat;
    background-size: contain;
    img{
      width: 100%;
    }
  }
  .item{
    h3{
      font-weight: $black;
      line-height: 30px;
      color: #000;
      margin-bottom: 13px;
    }
    .descriptions{
      .flex{
        margin-top: auto;
      }
    }
    &:hover{
      .fire{
        color: #000000;
      }
      .descriptions{
        h3{
          color: #b20027;
        }
      }
    }
  }
  .deal_of_the_month{
    box-shadow: 0 1px 3px rgba(0,0,0,.5);
    background: #ffedd9;
    padding: 35px 40px;
    .img-block{
      width: 50%;
    }
    h2{
      padding-bottom: 0;
      margin-bottom: 105px;
      color: $color-orange;
      position: relative;
      &:after{
        position: absolute;
        content: url("../img/deal_curve.png");
        transform: translateY(100%);
        bottom: 0;
        left: -10px;
      }
    }
    .descriptions{
      width: 45%;
      margin-left: 25px;
      display: flex;
      flex-direction: column;
      .flex{
        align-items: center;
      }
    }
    span.price{
      display: block;
      font-weight: $black;
      color: #ff2a00;
      font-size: 27px;
    }
    span.old-price{
      margin-top: 10px;
      line-height: 34px;
      color: #444444;
      display: block;
      font-weight: $medium;
      font-size: 24px;
      position: relative;
      text-align: center;
      &:after{
        background: #ff2a00;
        content: '';
        position: absolute;
        bottom: 15px;
        width: 100px;
        height: 2px;
        left: 50%;
        transform: translateX(-50%);
      }
    }

  }
  .top_sales{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 35px 50px;
    .descriptions{
      display: flex;
      flex-direction: column;
      flex-grow: 1;
    }
    .fire{
      position: absolute;
      left: 50px;
      top: 15px;
      background-color: #ff2a00;
      border-radius: 4px;
      padding: 2px 8px;
      font-size: 14px;
      font-weight: $black;
    }
    h3{
      font-size: 16px;
      margin-top: 35px;

    }
    .flex{
      width: 100%;
      margin-top: auto;
      align-items: center;
    }
    .price{
      font-weight: $medium;
      font-size: 24px;
      color: #000;
    }
    & + .top_sales{
      border-left: 1px solid #e5e5e5;
    }
  }
  .text-center {
    a.button {
      margin-top: 120px;
      color: #e10031;

      &:hover {
        color: #000000;
      }

      span.back {
        border-right: 4px solid #e10031;
        &:before {
          background-color: #e10031;
        }
        &:after {
          background-color: #e10031;
        }
      }
    }
  }
  img{
    &.parsley{
      position: absolute;
      top: 50px;
      right: 0;
    }
    &.limes{
      position: absolute;
      bottom: 110px;
      right: 0;
    }
    &.pepper{
      position: absolute;
      bottom: 100px;
      left: 0;
    }
  }
}
.stars {
  text-align: left;
  margin-bottom: 20px;
  .star {
    display: inline-block;
    vertical-align: top;
    width: 14px;
    height: 14px;
    background: #d9d9d9;
    position: relative;
    &:before {
      content: '';
      position: absolute;
      top: 1px;
      left: 1px;
      bottom: 1px;
      right: 1px;
      background: #d9d9d9;
      z-index: 1;
    }
  }
  &5{
    .star{
      background: rgba(255, 168, 0, 1);
      &:before {
        background: rgba(255, 168, 0, 1);
      }
    }
  }
  &4{
    .star{
      &:nth-child(1),
      &:nth-child(2),
      &:nth-child(3),
      &:nth-child(4) {
        background: rgba(255, 168, 0, 1);
        &:before {
          background: rgba(255, 168, 0, 1);
        }
      }
    }
  }
}
.star,
.star:before {
  -webkit-clip-path: polygon(50% 0%, 66% 27%, 98% 35%, 76% 57%, 79% 91%, 50% 78%, 21% 91%, 24% 57%, 2% 35%, 32% 27%);
  clip-path: polygon(50% 0%, 66% 27%, 98% 35%, 76% 57%, 79% 91%, 50% 78%, 21% 91%, 24% 57%, 2% 35%, 32% 27%);
}
@media (max-width: 1366px) {
  .sect2{
    .flex{
      flex-wrap: wrap;
    }
    .col-6{
      width: calc(40% - 30px);
    }
    .col-3{
      width: calc(30% - 30px);
    }
    .deal_of_the_month{
      h2{
        margin-bottom: 65px;
      }
      .img-block{
        margin: auto;
      }
      .flex{
        div{
          &.descriptions{
            width: 100%;
          }
        }
      }
    }
    .item{
      padding: 20px 30px;
      h2{
        font-size: 24px;
        br{
          display: none;
        }
      }
    }
  }
}
@media (max-width: 1280px) {
  .sect2 {
    padding: 70px 0;

    .col-3,
    .col-6 {
      width: calc(33% - 30px);
    }

    .item {
      position: relative;
      padding: 20px 20px;

      h3 {
        margin-top: 25px;
        display: flex;
        align-items: center;
        font-size: 16px;
        line-height: 24px;
        min-height: 72px;
      }

      h2 {
        position: absolute;
        left: 20px;
        top: 15px;
        font-size: 18px;
        margin-bottom: 0;

        &:after {
          display: none;
        }
      }

      a.button {
        font-size: 18px;
        line-height: 40px;
      }

      .fire {
        left: 20px;
      }

      div.descriptions {
        margin-left: 0;
      }
    }

    .deal_of_the_month {

      .img-block {
        width: 100%;
      }

      span.price {
        font-size: 22px;
      }

      span.old-price {
        font-size: 22px;
        margin-top: 3px;
      }
    }

    .top_sales {
      .price {
        font-size: 22px;
      }
    }

    .text-center a.button {
      margin-top: 80px;
    }

    img.pepper {
      bottom: 0;
    }
    img.limes{
      bottom: 0;
    }
  }
}
@media (max-width: 1024px) {

  .sect2 {
    .fixed-header{
      .flex{
        justify-content: space-between;
      }
    }
    .flex{
      justify-content: center;
    }
    .item {
      width: calc(50% - 30px);
      + .item{
        margin-top: 40px;
      }
      .img-block{
        width: 40%;
      }
    }
    .deal_of_the_month {
      width: calc(100% - 30px);
      .flex {
        justify-content: space-between;
        div.descriptions{
          width: 45%;
        }
      }
    }
    .top_sales {
      flex-wrap: wrap;
      flex-direction: row;
      .img-block{
        width: 100%;
      }
      .descriptions {
        margin-left: 25px;
        margin-top: auto;
        width: 100%;
        .flex{
          justify-content: space-between;
        }
      }
    }

  }
}
@media (max-width: 767px) {
  .sect2 {
    h2 {
      padding-bottom: 30px;
    }

    .item {
      + .item {
        margin-top: 30px;
        border-left: none;
      }
      &.top_sales{
        + .top_sales{
          border-top: 1px solid #e5e5e5;
        }
      }
      width: calc(100% - 30px);

      h2 {
        width: 30%;
        top: 20px;
        font-size: 16px;
        line-height: 20px;
      }

      h3 {
        margin-top: 0;
        min-height: 48px;
      }

      .fire {
        top: 25px;
      }

      .img-block {
        margin: auto 30px 0 0;
        width: 30%;
      }

      div.descriptions {
        width: 60%;

        .flex {
          align-items: center;
        }
      }


      span.price {
        font-size: 18px;
      }

      span.old-price {
        font-size: 18px;
        margin-top: 0;

        &:after {
          width: 100%;
        }
      }
    }
    .deal_of_the_month {
      .flex {
        justify-content: flex-start;
        div.descriptions{
          width: 60%;
          .flex{
            justify-content: space-between;
          }
        }
      }
    }
  }
}
@media (max-width: 480px) {
  .sect2{
    img.limes {
      width: 125px;
    }
    img.pepper {
      width: 120px;
    }
  }
}
@media (max-width: 380px){
  .sect2 {
    padding: 40px 0;
    h2{
      padding-bottom: 20px;
    }
    img.parsley {
      top: 0;
      width: 105px;
    }
    .item {
      + .item{
        margin-top: 15px;
      }
      h2 {
        position: absolute;
        width: auto;
        left: 20px;
        top: 15px;
        font-size: 16px;
        margin-bottom: 0;
      }
      h3 {
        margin-top: 15px;
        font-size: 14px;
        line-height: 22px;
      }
      a.button {
        font-size: 16px;
        line-height: 38px;
      }
      .img-block{
        margin-top: 40px;
      }
      &.deal_of_the_month {
        div.descriptions{
          width: 100%;
        }
        span.price {
          font-size: 18px;
          line-height: 26px;
        }
        span.old-price{
          font-size: 18px;
          line-height: 26px;
          &:after {
            bottom: 12px;
            width: 75px;
          }
        }
      }
      &.top_sales {
        div.descriptions{
          .flex{
            align-items: center;
          }
        }
        .price {
          font-size: 18px;
        }
        .fire {
          top: 20px;
          left: 20px;
        }
      }
    }
    img.pepper {
      display: none;
    }
    img.limes {
      display: none;
    }
  }
}
