$black: 900;
$extra-bold: 800;
$bold: 700;
$semi-bold: 600;
$medium: 500;
$regular: 400;
$light: 300;

//body
$ff-body: 'Montserrat', sans-serif;
$fz-body: 14px;
$lh-body: 24px;
$fw-body: 300;
$color-body: #fff;
$bg-color-body: #222222;
//body: END


// color
$color-orange: #ff6a00;
$color-headlines: #fff;
$color-paragraph: #333;
$color-links: #000;
$color-links-hover: #b20027;
// color: END

// text style
// headlines
$ff-headlines: 'Montserrat', sans-serif;

//links
$ff-links: 'Montserrat', sans-serif;
$fw-links: 300;
$fz-links: 18px;
$lh-links: 28px;

//paragraph
$ff-paragraph: 'Montserrat', sans-serif;
$fz-paragraph: 18px;
$lh-paragraph: 28px;
// text style: END


//pushy-style
$pushy-width: 360px;
$pushy-min-height: 580px;
$pushy-bg: #16181e;
//pushy-style:end

//md-modal
$bg-overlay: rgba(143,27,15,0.8);
$max-width-modal-1: 630px;
$min-width-modal-1: 320px;
$color-modal-1: #ffffff;
$bg-modal-1: #e74c3c;
//md-modal:end