.wrapper.pages{
  background-color: #ffffff;
  color: #000000;
  padding-top: 80px;
  position: relative;
  .sect2{
    background: #ffffff;
  }
  div.center{
    padding: 70px 0;
    .flex{
      justify-content: center;
      flex-direction: column;
      align-items: center;
    }
  }
  .header{
    padding: 15px 0;
    background: url("../img/bg.jpg") top center no-repeat;
    top: 0;
    width: 100%;
  }
  .fixed-header{
    background: rgba(51,51,51,.8);
  }
  .breadcrumbs{
    margin: 30px 0 50px;
    a{
      font-size: 14px;
      line-height: 24px;
      font-weight: $light;
    }
  }
  .video-block {
    background-size: cover;
    position: relative;
    display: block;
    width: 100%;
    height: 430px;
    &:hover:before {
      background: rgba(255, 255, 255, 0.2);
    }
    &:before {
      border-radius: 4px;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      content: '';
    }
    .watch {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);

      img {
        width: 100%;
      }

      &:after {
        position: absolute;
        content: '';
        top: 50%;
        left: 50%;
        transform: translate(-20%, -50%);
        border: 25px solid transparent;
        border-left: 30px solid #ffffff;
      }
    }
    @media (max-width: 1024px){
      height: 320px;
    }
    @media (max-width: 767px) {
      height: 220px;
      .watch {
        width: 90px;
        height: 90px;
        &:after {
          border: 15px solid transparent;
          border-left: 20px solid #ffffff;
        }
      }
    }
  }
  p.video-bottom-title{
    font-size: 14px;
    line-height: 24px;
    font-weight: $bold;
    padding-top: 15px;
    text-align: center;
  }
  p.text-block{
    font-weight: $regular;
    font-size: 18px;
    line-height: 24px;
    a{
      color: #b20027;
      font-weight: $medium;
      font-style: italic;
      &:hover{
        text-decoration: underline;
        transition: all .5s ease;
      }
    }
  }
  span{
    &.title-h1{
      padding-top: 10px;
      padding-bottom: 7px;
      display: block;
      font-size: 24px;
      line-height: 34px;
      font-weight: $bold;
    }
    &.title-h2{
      padding-top: 10px;
      padding-bottom: 7px;
      display: block;
      font-size: 18px;
      line-height: 28px;
      font-weight: $bold;
    }
    &.medium{
      font-weight: $medium;
    }
    &.li-dot{
      margin-top: 15px;
      display: block;
      padding-left: 60px;
      position: relative;
      &:last-child{
        padding-bottom: 15px;
      }
      &:before {
        position: absolute;
        left: 30px;
        top: 6px;
        width: 5px;
        height: 4px;
        background: #b20027;
        content: '';
      }
    }
    &.li-number{
      margin-top: 15px;
      display: block;
      padding-left: 60px;
      position: relative;
      &:last-child{
        margin-bottom: 15px;
      }
      .number{
        left: 30px;
        position: absolute;
        top: 0;
        color: #b20027;
        margin-right: 25px;
        font-weight: $black;
      }
    }
  }
}

.wok{
  .sect1{
    padding-bottom: 60px;
    .col-6{
      position: relative;
      .fire{
        z-index: 1;
        left: 25px;
      }
    }
  }
  .sect2.center{
    overflow: hidden;
    padding: 70px 0;
    background: #f7f7f7;
    position: relative;
    .flex{
      justify-content: center;
    }
    .img-limes{
      position: absolute;
      top: 150px;
      right: 0;
      @media (max-width: 1280px) {
        right: -70px;
      }
    }
    .img-big_pepper{
      position: absolute;
      top: 550px;
      left: 0;
    }
    .img-avocado{
      position: absolute;
      top: 1150px;
      right: 0;
    }

  }
  .sect3 {
    background: #f7f7f7;
    padding-bottom: 110px;
    position: relative;
    .flex {
      justify-content: center;
    }

    span.title-h2 {
      margin-bottom: 5px;
    }

    .img-big_pepper2{
      position: absolute;
      bottom: 100px;
      left: 0;
    }
  }
  .wok-sect4{
    background: url("../img/sect2-bg.jpg") top center no-repeat;
    padding-bottom: 130px;
    h2 {
      color: #000000;
      padding-bottom: 35px;
      position: relative;
      &:after {
        position: absolute;
        content: url(../img/headline_pages_curve.png);
        bottom: 18px;
        left: -5px;
      }
    }
    .item{
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: start;
      padding: 30px 0 30px 40px;
      &:hover{
        h3{
          color: #b20027;
        }
      }
      .img-block{
        background: url("../img/sect2-items-bg.png") bottom center no-repeat;
        background-size: contain;
      }
      img{
        width: 100%;
      }
      .descriptions{
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        width: 100%;
        .flex{
          justify-content: space-between;
        }
      }
      .fire{
        color: #fff;
        position: absolute;
        left: 50px;
        top: 15px;
        background-color: #ff2a00;
        border-radius: 4px;
        padding: 2px 8px;
        font-size: 14px;
        font-weight: $black;
      }
      h3{
        font-weight: $black;
        font-size: 14px;
        line-height: 150%;
        margin-top: 35px;
        color: #000000;
      }
      .stars{
        margin: 15px 0;
      }
      .flex{
        width: 100%;
        margin-top: auto;
        align-items: center;
      }
      .price{
        font-weight: $medium;
        font-size: 22px;
        color: #000;
      }

      .button{
        font-size: 17px;
      }
    }
  }
  .wok-slider-for{
    .slide{
      height: 500px;
      img {
        margin: 0 auto;
        height: 100%;
        width: auto;
      }
    }
  }
  .wok-slider-nav{
    margin: 30px 40px 0;
    .slide{
      width: 25%;
      img{
        width: 100%;
        height: auto;
      }
    }
    button.my-slick-next{
      right: -40px;
    }
    button.my-slick-prev{
      left: -40px;
    }
  }
  .wok-description{
    > .flex{
      margin: 0 -15px;
    }
    h2{
      color: #000000;
      padding-bottom: 40px;
    }
    .col-6.flex{
      flex-wrap: wrap;
      justify-content: flex-start;
    }
    .stars{
      margin-bottom: 50px;
      .star{
        width: 20px;
        height: 20px;
      }
    }
    .review{
      padding-left: 20px;
      font-size: 16px;
      line-height: 26px;
      color: #777777;
    }
    ul{
      width: 100%;
      li{
        +li{
          margin-top: 7px;
        }
        span{
          display: inline-block;
          font-size: 18px;
          line-height: 28px;
          &.title{
            width: 49%;
            font-weight: $light;
            color: #222222;
          }
          &.text{
            width: 49%;
            font-weight: $regular;
          }
        }
      }
    }
    .col-6.price{
      justify-content: flex-start;
      align-items: flex-end;
      flex-direction: column;
      div{
        text-align: center;
        span{
          display: block;
          &.price{
            color: #ff2a00;
            font-size: 40px;
            line-height: 50px;
            font-weight: $black;
          }
          &.old-price{
            color: #444444;
            font-size: 36px;
            line-height: 46px;
            font-weight: $regular;
            position: relative;
            &:after{
              position: absolute;
              top: 50%;
              left: 0;
              width: 100%;
              content: '';
              height: 3px;
              background-color: #ff2a00;
            }
          }
        }
      }
    }
    a.button{
      margin-top: 50px;
      &.grey{
        margin-right: 20px;
      }
    }
  }
  .wok-description-mob{
    display: none;}
}

@media (max-width: 1366px) {
  .wok {
    .wok-slider-for .slide {
      height: 430px;
    }
    .wok-description {
      h2 {
        font-size: 24px;
        line-height: 34px;
        padding-bottom: 30px;
      }

      .stars {
        margin-bottom: 30px;
      }
      .col-6{
        &:nth-child(1){
          width: 66%;
        }
        &:nth-child(2){
          width: 34%;
        }
      }
      .col-6.price {
        div {
          span.price {
            font-size: 32px;
            line-height: 40px;
          }
          span.old-price {
            font-size: 28px;
            line-height: 36px;
          }
        }
      }
      ul li span {
        font-size: 16px;
        line-height: 22px;
      }
    }
    .wok-sect4 .item {
      padding: 20px 0px 20px 20px;
    }
  }
}
@media (max-width: 1280px) {
  .wok {
    .wok-description {
      .col-6{
        &:nth-child(1) {
          width: 75%;
        }
        &:nth-child(2) {
          width: 25%;
        }
      }
      h2{
        font-size: 20px;
        line-height: 28px;
      }
      ul li {
        + li {
          margin-top: 3px;
        }
        span{
          font-size: 14px;
          line-height: 20px;
        }
      }
    }
    .text-block.col-8{
      width: 100%;
    }
    .sect3{
      .col-8{
        width: 100%;
      }
    }
    .wok-sect4{
      .flex{
        justify-content: center;
      }
      .item{
        width: calc(33% - 30px);
        .fire{
          left: 25px;
        }
      }
    }
  }
}
@media (max-width: 1024px) {
  .wok{
    .sect1{
      .col-6 .fire{
        left: 0;
      }
      .flex{
        flex-wrap: wrap;
      }
      .col-6{
        width: 100%;
        margin: 0;
        &:nth-child(1){
          order: 1;
        }
        &:nth-child(2){
          order: 0;
          margin: 0;
        }
      }
    }
    .wok-description {
      > .flex{
        margin: 0;
      }
      .col-6 {
        &:nth-child(1) {
          width:75%;
          order: 0;
        }
        &:nth-child(1){
          ul,
          a{
            display: none;
          }
        }

        &:nth-child(2) {
          order: 1;
          width: 25%;
          display: none;
        }
      }
    }
    .wok-description-mob{
      padding-top: 50px;
      order: 3;
      display: block;
      .col-6 {
        &:nth-child(1) {
          .review,
          .stars{
            display: none;
          }
          ul,
          a {
            display: block;
          }
        }
        &:nth-child(2) {
          display: block;
        }
      }
    }
    .sect3 {
      padding-top: 0;
    }
    .sect2 {
      padding: 35px 0;
    }
    .wok-sect4{
      background-position: bottom center;

      .item{
        width: calc(100% - 30px);
      }
    }
  }
  p.text-block {
    font-size: 16px;
    line-height: 22px;
  }
  span.title-h1 {
    font-size: 22px;
    line-height: 30px;
  }
}
@media (max-width: 600px) {
  .wok{
    .img-avocado,
    .img-big_pepper,
    .img-limes,
    .parsley,
    .img-big_pepper2{
      display: none;
    }
  }

}
@media (max-width: 480px) {
  .wok{
    .sect3 {
      padding-bottom:50px;
    }
    .wok-description {
      padding-bottom: 50px;
      .col-6 {
        &:nth-child(1) {
          width: 100%;
          order: 1;
        }

        &:nth-child(2) {
          width: auto;
          align-items: flex-start;
          margin-bottom: 30px;
          order: 0;
        }
      }
    }
    .wok-slider-for {
      .slide {
        height: 330px;
        img{
          height: auto;
          width: 100%;
        }
      }
    }
    .wok-slider-nav {
      margin: 0 40px 0;
    }
  }
}